html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: url(img/bg.jpg);
    background-size: cover;
}

.container {
    margin-left: 0px;
}

#tpss-flash-msg {
    color: #fff;
    background-color: rgb(127, 140, 141);
}

#wrap {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height 100%;
    margin: 0 auto -64px;
}

.btn-outline {
    color: #563d7c;
    background-color: #fff;
    border-color: #e5e5e5;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #cbdfe3;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #563d7c;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

#search {
    background-color: rgba(86, 61, 124, 0.8);
    position: absolute;
    z-index: 111111111;
    top: 50%;
    left: 46.5%;
    width: 40%;
    min-width: 94px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    -webkit-transform: translate(-45%, -45%);
    transform: translate(-45%, -45%);
}

.map-search {
    display: inline;
    width: 70%;
    min-width: 90px;
}

.search-btn {
    display: inline;
    background-color: #95a5a6;
    border-color: #95a5a6;
    max-height: 34px;
    padding-top: 4px;
    width: 16%;
    min-width: 90px;
}

.map:hover, .map:focus {
    background-color: #7f8c8d;
}

.tpss-nav {
    z-index: 1111111111;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.navbar-text {
    color: rgb(127, 140, 141);
}

.tpss-nav .navbar-collapse {
    border-color: #463265;
    text-align: center;
}

.tpss-nav .navbar-brand {
    color: #cdbfe3;
}

.tpss-nav .navbar-nav > li.active > a {
    color: #fff;
    background-color: #4A346A;
}

.tpss-nav .navbar-nav > li.active > a:hover {
    color: #fff;
    background-color: #4A346A;
}

.tpss-nav .navbar-nav > li > a {
    color: #cdbfe3;
}

.tpss-nav .navbar-nav > li > a:hover {
    color: #fff;
}

.tpss-nav .navgar-toggle {
    border-color: #563d7c;
}

.tpss-nav .navbar-toggle:hover {
    background-color: #463265;
    border-color: #463265;
}

.tpss-home {
    text-align: center;
}

.tpss-footer {
    position: relative;
    z-index: 100000000;
    height: 64px;
    color: #fff;
    text-align: center;
    background: rgba(72,52,106,.8);
    border-top: 1px solid #563d7c;
}

#bg-credit > a {
    border-bottom: 2px solid #fff;
    text-decoration: none;
    color: #fff;
}

#bg-credit > a:hover {
    border-bottom-color: #000;
}

#github {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

#github:hover {
    border-bottom-color: #000;
}

.footer-links {
    padding-left: 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}
