* {
    padding: 0px;
    margin: 0px;
}
body,
html{
    height: 0;
    margin: 0px;
    padding: 0px;
    background: none;
}

.panels {
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 100%;
    min-height: 200px;
    width: 100%;
}

.jumbotron {
    position: fixed;
    background: url(img/jumbo.jpg);
    height: 200px;
    margin-top: -147px;
}

.tpss-about-content {
    background-color: white;
    margin-top: 200px;
    width: 100%;
    min-height: 500px;
}
