{% extends "layout.html" %}
{% block style %}
        <link href='{{ url_for('static', filename='skateapp-style.css') }}' rel='stylesheet'>
        <link href='{{ url_for('static', filename='skateapp-style-login.css') }}' rel='stylesheet'>
{% endblock %}
{%block wrap %}
    <div class="jumbotron"></div>
    <div id="wrap">
{% endblock %}
{% block nav %}
                <ul class="nav navbar-nav">
                    <li id="map">
                        <a href="/">map</a>
                    </li>
                    <li id="about">
                        <a href="/about">about</a>
                    </li>
                    {% if g.user %}
                    <li id="dashboard">
                        <a href="/dashboard">dashboard</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <p class="navbar-text navbar-right">
                        Welcome, {{ g.user.username if g.user.username else 'guest'}} 
                    </p>
                    {% if g.user %}
                    <li id="logout">
                        <a href="/logout">logout</a>
                    </li>
                    {% else %}
                    <li id="login">
                        <a href="/login">login</a>
                    </li>
                    {% endif %}
                </ul>
{% endblock %}
{% block messages %}
        {% for message in get_flashed_messages() %}
        <div id="tpss-flash-msg"> {{ message }} </div>
        {% endfor %}
{% endblock %}
{% block page %}
            <div class="container login-cont">
            <div class="tpss-login-content">
                <form class="form-signin" role="form" action="{{ url_for('general.login') }}" method=post>
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block login" type="submit">Sign in</button>
                </form>
            </div>
            </div>
{% endblock %}
{% block optional %}
    <div id="push"></div>
    </div>
{% endblock %}
{% block imgcred %}
        <p id="bg-credit">image via <a href="http://www.flickr.com/photos/oilinki">oilinki</a> on <a href="http://www.flickr.com/">flickr</a>.</p>
{% endblock %}
