{% extends "layout.html" %}
{% block style %}
        <link href='{{ url_for('static', filename='skateapp-style.css') }}' rel='stylesheet'>
        <link href='{{ url_for('static', filename='skateapp-style-about.css') }}' rel='stylesheet'>
{% endblock %}
{% block wrap %}
    <div class="jumbotron"></div>
    <div id="wrap">
{% endblock %}
{% block nav %}
                <ul class="nav navbar-nav">
                    <li id="home">
                        <a href="/">map</a>
                    </li>
                    <li id="about">
                        <a href="/about">about</a>
                    </li>
                    <li id="secret" class="active">
                        <a href="/secret">secret</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user %}
                    <li id="logout">
                        <a href="/logout">logout</a>
                    </li>
                    {% else %}
                    <li id="login">
                        <a href="/login">login</a>
                    </li>
                    {% endif %}
                </ul>
{% endblock %}
{% block messages %}
        {% for message in get_flashed_messages() %}
        <div id="tpss-flash-msg"> {{ message }} </div>
        {% endfor %}
{% endblock %}
{% block page %}
        <div class="container about-cont">
        <div class="tpss-about-content">
            <h1>login test</h1>
            <hr>
            <div style="width:40%;padding-bottom:2%;">
            <p>
            Very good. This page is only visible if you're logged in.
            </p>
            <hr>
        </div>
    </div>
{% endblock %}
{% block optional %}
    <div id="push"></div>
    </div>
{% endblock %}
{% block imgcred %}
        <p id="bg-credit">image via <a href="http://www.flickr.com/photos/oilinki">oilinki</a> on <a href="http://www.flickr.com/">flickr</a>.</p>
{% endblock %}
