{% extends "layout.html" %}
{% block style %}
        <link href='{{ url_for('static', filename='skateapp-style.css') }}' rel='stylesheet'>
        <link href='{{ url_for('static', filename='skateapp-style-about.css') }}' rel='stylesheet'>
{% endblock %}
{% block wrap %}
    <div id="wrap">
{% endblock %}
{% block nav %}
                <ul class="nav navbar-nav">
                    <li id="home">
                        <a href="/">map</a>
                    </li>
                    <li id="about" class="active">
                        <a href="/about">about</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="login">
                        <a href="/login">login</a>
                    </li>
                </ul>
{% endblock %}
{% block page %}
        <div class="jumbotron panels">
        </div>
        <div class="tpss-about-content panels">
            <h1>about</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin diam enim, rutrum id lorem ut, pharetra varius arcu. Nulla pretium commodo turpis ut faucibus. Praesent euismod nunc quis elementum sodales. Maecenas tincidunt, sapien quis aliquet elementum, ipsum diam rutrum risus, ac auctor mi sem ut purus. Vestibulum odio tortor, vestibulum id urna ut, imperdiet facilisis purus. Nulla facilisi. Mauris blandit ultrices purus vel euismod.</p>
            <p>Aenean sed nulla ac est vehicula gravida. Suspendisse interdum velit in odio mollis ultricies. Mauris laoreet, felis eu interdum posuere, libero enim tempor nunc, quis tincidunt enim ipsum non erat. Nulla facilisi. Donec quam eros, auctor at placerat ac, convallis ac felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam at aliquet urna. Vivamus cursus vestibulum dictum. Maecenas at volutpat odio. Morbi eu odio quis velit volutpat commodo. Integer elementum mattis aliquet. </p>
        </div>
{% endblock %}
{% block optional %}
    </div>
{% endblock %}
{% block imgcred %}
        <p id="bg-credit">image via <a href="http://www.flickr.com/photos/oilinki">oilinki</a> on <a href="http://www.flickr.com/">flickr</a>.</p>
{% endblock %}
