{% extends "layout.html" %}
{% block style %}
        <link href='{{ url_for('static', filename='skateapp-style-home.css') }}' rel='stylesheet'>
        <link href='{{ url_for('static', filename='map-style.css') }}' rel='stylesheet'>
        <script src='{{ url_for('static', filename='OpenLayers.js') }}'></script>
{% endblock %}
{% block nav %}
                <ul class="nav navbar-nav">
                    <li id="home" class="active">
                        <a href="/">home</a>
                    </li>
                    <li id="list">
                        <a href="#">list</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="login">
                        <a href="/login">login</a>
                    </li>
                </ul>
{% endblock %}
{% block map %}
        <div id="map"></div>
        <script type="text/javascript">
            var map = new OpenLayers.Map({
                div: "map",
                layers: [
                    new OpenLayers.Layer.OSM("OSM (without buffer)"),
                    new OpenLayers.Layer.OSM("OSM (with buffer)", null, {buffer: 2})
                ],
                controls: [
                    new OpenLayers.Control.Navigation({
                        dragPanOptions: {
                            enableKinetic: true
                        }
                    }),
                    new OpenLayers.Control.PanZoom(),
                    new OpenLayers.Control.Attribution()
                ],
                center: [0,0],
                zoom: 3
            });
            map.addControl(new OpenLayers.Control.LayerSwitcher());
        </script>
{% endblock %}
