<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="find the perfect skate spot, wherever you are">
        <meta name="author" content="brian morrow">
        <title>The Perfect Skate Spot</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }} ">
        <link href='{{ url_for('static', filename='dist/css/bootstrap.css') }}' rel='stylesheet'>
        {% block style %} {% endblock %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body class="tpss-home">
    {%block wrap %}{% endblock %}
        <header class="navbar navbar-inverse navbar-fixed-top tpss-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">The Perfect Skate Spot</a>
            </div>
            <nav class="collapse navbar-collapse tpss-navbar-collapse" role="navigation">
                {% block nav %} {% endblock %}
            </nav>
        </div><!--/.nav-collapse -->
        </header>
    {% block messages %}{% endblock %}
    {% block map %}{% endblock %}
    {% block page %}{% endblock %}
    {% block optional %}{% endblock %}
        <footer class="tpss-footer" role="contentinfo">
        {% block imgcred %}{% endblock %}
        <ul class="footer-links">
            <li><a id="github" href="https://github.com/killerbat00/" target="_blank">github <i class="fa fa-github"></i></a></li>
            <li class="muted">&middot;</li>
            <li><a id="github" href="http://brianmorrow.net" target="_blank">brian morrow</a></li>
            <li class="muted">&middot;</li>
            <li>v{{ config.VERSION }}</li>
        </ul>
        </footer>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
